name: PR - Label

on:
  pull_request:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write
  actions: write

jobs:
  test-robot-label:
    name: Job
    uses: ./.github/workflows/test-robot-label.yml
    with:
      label-test-robot-done: test-robot-done
      label-test-robot-needed: test-robot-needed
    secrets:
      token: ${{ secrets.BOT_REPO_TOKEN }}
