name: Release

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'

concurrency:
  group: release-${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: CI
    uses: ./.github/workflows/build.yaml

  promote:
    name: CI
    needs: build
    uses: getdevopspro/github-actions/.github/workflows/promote.yml@v6.0.3
    with:
      version-package: package.json
      git-add-files: package.json
      git-user-name: getdevopspro-cibot
      git-user-email: 203600057+getdevopspro-cibot@users.noreply.github.com
      image-digests: ${{ build.ci.outputs.image-digests }}
